body {
	font-family: Avenir;
	width:100%;
	height:100%;
	/*min-width:960px;*/
}

/*#one{
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:pink;
	/*padding-bottom:px;
}*/

/*#two{
	margin-top:0px;
	width:100%;
	height:500px;
	overflow:hidden;
	display:none;
}*/




#landing-pic{
	z-index:-300000000;

}

#circle{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	z-index:100000;
	bottom:-1%;
}

.logo{
	font-family: Avenir-Black;
/*	text-align:center;
*/	font-size: 70px;
	color: #EC5954;
	letter-spacing: 25px;
	line-height: 60px;
	text-shadow: 3px 4px 0 #FCF48F;
} 

#asym-background{
	/*text-align:center;*/
	position:absolute;
	bottom:0%;
	overflow:hidden;
	width:100%;
	/*background-colorpink;*/

}


/*****************/
/* Index Styles */


.box-pic{
	width: 360px;
	height:360px;
	display:inline-block;
	overflow:hidden;
	border:solid white 20px;
	/*box-shadow: 8px 6px #EC5954;*/
}


#meat-logo{
	position:absolute;
	top:8%;
	left:7%;

}

#meat-box{
	position:absolute;
	margin-left:15%;
	top:28%;
	background-color:red;


}

.box-pic img{
	/*border: solid #FCF48F 3px;*/
	box-shadow: 8px 6px #EC5954;
	z-index:25;
	box-shadow: 8px 6px #EC5954;
}

#recipe-box{
	position:absolute;
	top:28%;
	margin-left:55%;
	/*marg in-left:300px;*/
}

.overlay-box{
	position:absolute;
	top:30px;
	left: 25px;
	width: 300px;
	height:300px;
	background: rgba(255,255,255,0.94);
}

.box-title{
	text-align: center;
	position:relative;
	top:50px;
	font-family: Avenir-Heavy;
	font-size: 24px;
	color: #EC5954;
	letter-spacing: 4.57px;
}

.box-text{
	padding:40px;
	margin-top: 20px;
	margin-left:10px;
	font-family: Avenir;
	font-size: 14px;
	color: #413C3C;
	letter-spacing: 2.66px;
	line-height: 29px;
}

.box-button{
	font-size:12px;
	text-align:center;
	padding:10px;
	color:#FCF48F;
	background-color:#57CDED;
	width:80px;
	border-radius:5px;
	position:absolute;
	left:100px;
	bottom:50px;
}

/*#welcome{

	position:absolute;
	bottom:3px;
	font-size:28px;
	color: #57CDED;
	font-weight: 700;
}*/

/*******************/
/* Recipes Styles */

#recipes-logo{
	position:absolute;
	top:120px;
	margin-left:140px;
}

#filet{
	position:absolute;
	top:200px;
	left:40.5%;
	/*z-index:-1;*/
	transform: scale(.85);
}

.recipe-heading{
	text-align:center;
	font-size:28px;
	font-weight:bold;
	letter-spacing:3px;
	color: #57CDED;
	margin-top:150px;
}

#ingredients-container{
	margin-left:200px;
}

#ingredients-header{
	font-family: Avenir-Heavy;
	font-size: 18px;
	color: #EC5954;
	letter-spacing: 3.42px;
	margin-top:20px;
	margin-bottom:20px;
}

#ingredients{
	font-family: Avenir-HeavyOblique;
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 2.66px;
	line-height: 31px;
}

#divider{
	display:inline-block;
	margin-left: 400px;
	position:absolute;
	top:500px;
}

.grind-background{
	z-index:-10;
	position:relative;
	top:-10%;
}

#cont-container1{
	/*margin: 0px auto;*/
	width:80%;
	height:500px;
	background:white;
	z-index:30000000;
}
