/*************************/
/* Styles for all pages */

body {
	font-family: Avenir;
	width:100%;
	height:100%;
	min-width:960px;
}

#landing-container{
	overflow:hidden;
	width:100%;
}




.menu-container{
	background-size:cover;
	height: 270px;
	overflow: hidden;
	padding:0px;
}

.menu-container img{
	padding:0px;
	margin-right:50px;
	-webkit-filter: blur(7px);
}

#menu-bar{
	position:absolute;
	top:12px;
	margin-left:140px;
}

#menu-bar div{
	float:left;
	margin-right:20px;
	color: #F5EC9F;
	font-weight:400;
	font-size:16px;
	letter-spacing:3px;
	letter-spacing: 4.57px;
}

.logo{
	font-family: Avenir-Black;
/*	text-align:center;
*/	font-size: 70px;
	color: #EC5954;
	letter-spacing: 25px;
	line-height: 60px;
	text-shadow: 3px 4px 0 #FCF48F;
} 

#asym-background{
	position:absolute;
	bottom:0%;
	/*width:100px;*/
	z-index:-1;
}


/*****************/
/* Index Styles */


.box-pic{
	width: 360px;
	height:360px;
	display:inline-block;
	overflow:hidden;
	border:solid white 10px;
	box-shadow: 8px 6px #EC5954;
}


#meat-logo{
	position:absolute;
	bottom:80%;
	left:7%;

}

#meat-box{
	position:absolute;
	margin-left:15%;
	bottom:14%;
	background-color:red;

}

.box-pic img{
	border: solid #FCF48F 3px;
	box-shadow: 8px 6px #EC5954;
}

#recipe-box{
	position:absolute;
	bottom: 8%;
	margin-left:55%;
	/*marg in-left:300px;*/
}

.overlay-box{
	position:absolute;
	top:30px;
	left: 25px;
	width: 300px;
	height:300px;
	background: rgba(255,255,255,0.94);
}

.box-title{
	text-align: center;
	position:relative;
	top:50px;
	font-family: Avenir-Heavy;
	font-size: 24px;
	color: #EC5954;
	letter-spacing: 4.57px;
}

.box-text{
	padding:40px;
	margin-top: 20px;
	margin-left:10px;
	font-family: Avenir;
	font-size: 14px;
	color: #413C3C;
	letter-spacing: 2.66px;
	line-height: 29px;
}

.box-button{
	font-size:12px;
	text-align:center;
	padding:10px;
	color:#FCF48F;
	background-color:#57CDED;
	width:80px;
	border-radius:5px;
	position:absolute;
	left:100px;
	bottom:50px;
}

/*#welcome{

	position:absolute;
	bottom:3px;
	font-size:28px;
	color: #57CDED;
	font-weight: 700;
}*/

/*******************/
/* Recipes Styles */

#recipes-logo{
	position:absolute;
	top:120px;
	margin-left:140px;
}

#filet{
	position:absolute;
	top:200px;
	left:40.5%;
	/*z-index:-1;*/
	transform: scale(.85);
}

.recipe-heading{
	text-align:center;
	font-size:28px;
	font-weight:bold;
	letter-spacing:3px;
	color: #57CDED;
	margin-top:150px;
}

#ingredients-container{
	margin-left:200px;
}

#ingredients-header{
	font-family: Avenir-Heavy;
	font-size: 18px;
	color: #EC5954;
	letter-spacing: 3.42px;
	margin-top:20px;
	margin-bottom:20px;
}

#ingredients{
	font-family: Avenir-HeavyOblique;
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 2.66px;
	line-height: 31px;
}

#divider{
	display:inline-block;
	margin-left: 400px;
	position:absolute;
	top:500px;
}





